name: Main Branch Checks

on:
  push:
    branches: ["main"]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run format:check
      - run: bun run knip
      - run: bun run lint
      - run: bun run typeCheck
      - run: bun test
